.product-detail-container {
    padding: 30px;
}

.product-detail {
    display: flex;
	flex-wrap: wrap;
	padding-top: 20px;
    gap: 20px; /* Space between image and description */
    align-items: flex-start;
}

.product-img {
    flex: 1;
    max-width: 700px; /* Adjust this to control the image size */
}

.product-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px; /* Optional: add rounded corners */
}

.products-description {
	flex: 1;
}
.products-description button {
	padding: 10px 20px;
	background-color: #007BFF;
	color: white;
	border: none;
	cursor: pointer;
	margin-top: 20px;
	border-radius: 10px;
  }
  .products-description button:hover{
	background-color: #0056b3;
  }


.products-description .description{
	line-height: 20px;
	margin: 20px 0px 20px 0px;
} 

@media (max-width: 704px) {
	.product-detail{
		flex-direction: column;
	}
}