.product-detail-container {
    padding: 30px;
}

.product-detail {
    display: flex;
	flex-wrap: wrap;
	padding: 20px 0px 0px 50px;
    gap: 6rem; /* Space between image and description */
    align-items: flex-start;
}

.product-img {
    max-width: 900px;
}

.product-img img {
    width: 100%;
	height: 400px;
    object-fit: cover;
}

.products-description {
	flex: 1;
	max-width: 450px;
}
.products-description button {
	padding: 10px 20px;
	background-color: #007BFF;
	color: white;
	border: none;
	cursor: pointer;
	margin-top: 20px;
	border-radius: 10px;
  }
  .products-description button:hover{
	background-color: #0056b3;
  }


.products-description .description{
	line-height: 30px;
	margin: 20px 0px 20px 0px;
} 

@media (max-width: 704px) {
	.product-detail{
		flex-direction: column;
		gap: 10px;
	}
}